<div class="row">
    <div class="col-md-12">
        <h3>Spieler</h3>
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Nickname</th>
                <th>Gast</th>
                <th>Geburtsdatum</th>
                <th>Beitritt</th>
                <th>Letztes Update</th>
            </thead>
            <tr data-ng-repeat="player in players">
                <td>{{player.uuid}}</td>
                <td><a data-ng-href="/#player/{{player.uuid}}">{{player.nickname}}</a></td>
                <td>
                    <span data-ng-if="player.guest" class="glyphicon glyphicon-ok"></span>
                </td>
                <td>{{player.birthday | defaultDate}}</td>
                <td>{{player.joined | defaultDate}}</td>
                <td>{{player.updated | defaultDateTime}}</td>
            </tr>
        </table>
    </div>
</div>
