<div class="row">
    <div class="col-md-12">
        <h3>Lokalitäten</h3>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Adresse</th>
                <th>Aktuelle Austragung</th>
                <th>Letztes Update</th>
                <th></th>
            </thead>
            <tr data-ng-repeat="venue in venues | orderBy:'uuid'">
                <td>
                    <span class="glyphicon glyphicon-home"></span>&nbsp;
                    <a data-ng-href="/#venue/{{venue.uuid}}">{{venue.name}}</a>
                </td>
                <td>
                    {{venue.street}}, {{venue.zip}} {{venue.city}}
                    <span data-ng-if="venue.country !== 'CH'">{{venue.country}}</span>
                </td>
                <td>
                    <span data-ng-if="venue.current" class="glyphicon glyphicon-ok"></span>
                </td>
                <td>{{venue.updated | defaultDateTime}}</td>
                <td data-ng-click="centerToMarkerAndOpenInfoWindow(venue)"><span class="glyphicon glyphicon-screenshot"></span></td>
            </tr>
        </table>


        <gm-map gm-map-id="'venueMap'" gm-center="mapCenter" class="venueMap"
                gm-map-options="mapOptions" gm-bounds="bounds">

            <gm-markers gm-objects="venues"
                        gm-id="object.uuid"
                        gm-events="markerEvents"
                        gm-on-openinfowindow="venue = object; infoWindow.open(marker.getMap(), marker);"
                        gm-position="{ lat: object.latitude, lng: object.longitude }"
                        gm-marker-options="{ title: object.name, clickable: false}"
                        gm-on-click="centerToMarkerAndOpenInfoWindow(object)"
                        gm-on-mouseover="centerToMarkerAndOpenInfoWindow(object)">
            </gm-markers>

        </gm-map>
    </div>
</div>
